.down-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.bottom-left {
    margin: 10px;
    width: 70%;
    /* border: 2px solid black; */
    height: 400px;
}

.bottom-right {
    margin: 10px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 10px;
    width: 30%;
    height: 400px;
}