    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .left {
        margin: 5px;
        border-radius: 20px;
        height: 400px;
        width: 50%;
        background-image: url(.././new1.png);
        background-size: cover;
    }
    
    .right {
        height: 400px;
        width: 50%;
        margin: 5px;
        border-radius: 20px;
    }
    
    .top {
        height: 50%;
        margin-bottom: 3px;
        width: 100%;
        background-image: url(.././bg.png);
        background-size: contain;
        opacity: 0.90;
        border-radius: 20px;
    }
    
    .bottom-top {
        height: 50%;
        width: 100%;
        background-image: url(.././new3.png);
        background-size: contain;
        opacity: 0.75;
        border-radius: 20px;
    }